export KUBECONFIG=$PWD/kube.yaml

if ! test -f _bin/cilium; then
    CILIUM_CLI_VERSION=$(curl -s https://raw.githubusercontent.com/cilium/cilium-cli/main/stable.txt)
    CLI_ARCH=amd64
    if [ "$(uname -m)" = "aarch64" ] || [ "$(uname -m)" = "arm64" ]; then CLI_ARCH=arm64; fi
    CLI_OS="$(uname -s | tr '[:upper:]' '[:lower:]')"
    curl -L --fail --remote-name-all https://github.com/cilium/cilium-cli/releases/download/${CILIUM_CLI_VERSION}/cilium-${CLI_OS}-${CLI_ARCH}.tar.gz{,.sha256sum}
    sha256sum --check cilium-${CLI_OS}-${CLI_ARCH}.tar.gz.sha256sum
    test -d _bin || mkdir -p _bin
    tar xzvfC cilium-${CLI_OS}-${CLI_ARCH}.tar.gz _bin
    rm cilium-${CLI_OS}-${CLI_ARCH}.tar.gz{,.sha256sum}
fi
if ! test -f _bin/hubble; then
    HUBBLE_VERSION=$(curl -s https://raw.githubusercontent.com/cilium/hubble/main/stable.txt)
    CLI_OS="$(uname -s | tr '[:upper:]' '[:lower:]')"
    HUBBLE_ARCH=amd64
    if [ "$(uname -m)" = "aarch64" ] || [ "$(uname -m)" = "arm64" ]; then HUBBLE_ARCH=arm64; fi
    curl -L --fail --remote-name-all https://github.com/cilium/hubble/releases/download/$HUBBLE_VERSION/hubble-${CLI_OS}-${HUBBLE_ARCH}.tar.gz{,.sha256sum}
    sha256sum --check hubble-${CLI_OS}-${HUBBLE_ARCH}.tar.gz.sha256sum
    test -d _bin || mkdir -p _bin
    tar xzvfC hubble-${CLI_OS}-${HUBBLE_ARCH}.tar.gz _bin
    rm hubble-${CLI_OS}-${HUBBLE_ARCH}.tar.gz{,.sha256sum}
fi
GOBIN=$PWD/_bin go install github.com/nats-io/natscli/nats@latest
PATH_add _bin
