apiVersion: v1
kind: Config
preferences: {}
current-context: ${current_context}
clusters:
%{ for c in clusters ~}
- cluster:
    server: ${c.endpoint}
    certificate-authority-data: ${c.ca_data}
  name: ${c.name}
%{ endfor ~}
contexts:
%{ for c in clusters ~}
- context:
    cluster: ${c.name}
    user: ${c.name}
  name: ${c.name}
%{ endfor ~}
users:
%{ for c in clusters ~}
- name: ${c.name}
  user:
    exec:
      apiVersion: client.authentication.k8s.io/v1beta1
      command: aws
      env:
      - name: "AWS_PROFILE"
        value: ${c.aws_profile}
      args:
      - --region
      - ${c.region}
      - eks
      - get-token
      - --cluster-name
      - ${c.name}
%{ endfor ~}
